@import '../../../styles/variables.scss';

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 36px;
  height: 36px;

  border-radius: 8px;
  overflow: hidden;

  &--circle {
    border-radius: 50%;
  }

  &--gray {
    background-color: $gray-500;
  }
  &--blue {
    background-color: $primary-500;
  }
  &--purple {
    background-color: $purple-500;
  }
  &--red {
    background-color: $error-600;
  }
  &--transparent {
    background-color: transparent;
  }

  background-color: $gray-400;
}
