@import '../../styles/variables';

.biometric-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.biometric-auth__logo {
  background-color: $gray-50;
  padding: 10px;
  border-radius: 100%;
  box-sizing: border-box;
  color: $primary-500;
  border: 1px solid $gray-200;
  transition: border 200ms, background-color 200ms;
  &:hover {
    background-color: $gray-100;
    border: 1px solid $gray-300;
  }
}
