@import "../../../styles/variables.scss";

$icon-size: 40px;

.token-item {
  @apply box-border flex items-center;
  height: 72px;
  padding: 0 24px;
  border-bottom: 1px solid #EFF1F5;
  
  &:first-of-type {
    border-top: 1px solid #EFF1F5;
  }
}

.icon-wrap {
  @apply flex justify-center items-center;
  @apply rounded-full;
  width: $icon-size;
  height: $icon-size;
  background: rgba(62, 162, 248, 1);
}

.token-name {
  color: $gray-900;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.token-amonut {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: $gray-700;
}