@import '../../../styles/variables.scss';

$icon-size: 40px;

.token-item {
  @apply box-border flex items-center;
  padding: 26px 24px;
  margin: 12px 12px;

  background: $primary-25;
  border-radius: 16px;
  transition: 0.2s;

  &:hover {
    /* Gray/50 */
    background: $primary-50;
  }
}

.icon-wrap {
  @apply flex justify-center items-center;
  @apply rounded-full;
  width: $icon-size;
  height: $icon-size;
  background: rgba(62, 162, 248, 1);
}

.token-name {
  color: $gray-900;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.token-amount {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}
