.app {
    width: 362px;
    min-height: 573px;
    overflow-y: auto;
    margin: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 20px 24px -4px rgba(58, 76, 112, 0.04),
    0px 8px 8px -4px rgba(58, 76, 112, 0.03);
}
