@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$icon-size: 40px;

.token-item {
  @apply box-border flex items-center;
  padding: 26px 24px;
  margin: 12px 12px;

  background: $primary-25;
  border-radius: 16px;
  transition: 0.2s;

  &:hover {
    /* Gray/50 */
    background: $primary-50;
  }
}

.icon-wrap {
  @apply flex justify-center items-center;
  width: $icon-size;
  height: $icon-size;
  object-fit: cover;
  background: $gray-200;
}

$max-text-len: 220px;
.nft-meta {
  @apply flex flex-col;
}

.nft-name {
  width: $max-text-len;
  @include ellipsis();
  color: $gray-900;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.nft-description {
  width: $max-text-len;
  @include ellipsis();
}
