.setting-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 37px;
}

.setting-desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #b9c0d4;
  margin-top: 8px;
}

.setting-cancel {
  width: 32px;
  height: 32px;
  background: url('./assets/cancel.svg') no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.setting-btn {
  width: 320px;
  height: 40px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  cursor: pointer;
}
