@import '../../styles/variables';

.address {
  @apply flex justify-center items-center;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $gray-400;
  text-align: center;
}

.wallet-avatar {
  width: 56px;
  height: 56px;
  margin: 24px auto 6px;
  background-repeat: no-repeat;
  background-size: cover;
}

.wallet-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #000000;
}

.settings-container {
  .settings-item {
    display: flex;
    padding: 24px;
    margin: 12px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background-color: $gray-50;
    border-radius: 16px;
    cursor: pointer;
    position: relative;

    &:hover {
      /* Gray/50 */
      background: $gray-100;
    }

    &:active {
      background-color: $gray-200;
    }
  }

  .icon-wallet,
  .icon-network,
  .icon-security,
  .icon-right-arrow {
    width: 24px;
    height: 24px;
    background: no-repeat center;
    background-size: cover;
    display: inline-block;
    margin-right: 16px;
  }

  .icon-wallet {
    background-image: url('./assets/wallet.svg');
  }

  .icon-network {
    background-image: url('./assets/net.svg');
  }

  .icon-security {
    background-image: url('./assets/security.svg');
  }

  .icon-right-arrow {
    background-image: url('./assets/right-arrow.svg');
    position: absolute;
    right: 24px;
    margin: auto;
    top: 0;
    bottom: 0;
  }
}

.app-version {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
