.security-setting {
  &-container {
    padding: 17px 21px 40px;
    max-height: 437px;
    overflow-y: auto;
    .setting-desc {
      margin-bottom: 30px;
    }
  }
}

.secutity-card {
  .security-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
  }

  .security-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    color: #667085;
    margin-bottom: 16px;

    &.warning {
      color: #f04438;
    }
  }


  .security-line {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 24px 0;
    height: 1px;
    width: 100%;
  }
}