@import '../../styles/variables';

.wallet {
  &-setting-container {
    padding: 17px 21px 0;
  }

  &-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: 64px;
    height: 82px;

    background: #ffffff;

    border: 1px solid #eaecf0;
    border-radius: 8px;

    &.active {
      .wallet-check {
        background-image: url('./assets/check.svg');
      }
    }
  }

  &-check {
    width: 16px;
    height: 16px;
    background: url(./assets/not-check.svg) no-repeat center;
    background-size: contain;
  }

  &-item-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $gray-400;
    margin-bottom: 6px;
  }

  &-name-input {
    box-sizing: border-box;
    width: 320px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $gray-900;
    margin-top: 6px;
    border-radius: 16px;
  }

  &-save {
    background: #3ea2f8;
    border: 1px solid #3ea2f8;
    color: #ffffff;
  }

  &-cancel {
    background: #ffffff;
    border: 1px solid #d0d5dd;
    color: #344054;
  }
}
