@import '../../styles/variables';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  width: 320px;
  height: 40px;
  background: $white;
  border: 1px solid $gray-300;
  color: $gray-700;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);


  &:focus {
    outline: none;
  }


  &:hover {
    background: #F9FAFB;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
  }
  &:active {
    /* Base/White */

    background: #FFFFFF;
    /* Gray/300 */

    border: 1px solid #D0D5DD;
    /* Shadow/xs focused 4px grey-100 */

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
  }


  &--primary {
    color: $white;
    background: $primary-500;
    border: 1px solid $primary-500;

    &:hover {
      background: $primary-700;
    }
    &:active {
    /* Primary/600 */

      background: $primary-600;
      /* Primary/600 */

      border: 1px solid $primary-600;
      /* Shadow/xs focused 4px primary-100 */

      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px $primary-100;
    }
  }
}
