@import '../../../styles/variables.scss';

$icon-size: 40px;
$icon-wrap-size--sm: 16px;
$icon-wrap-size--lg: 64px;
$icon-size--sm: 10px;
$icon-size--lg: 36px;

.token-item {
  @apply box-border flex items-center;
  height: 72px;
  padding: 0 24px;
  border-bottom: 1px solid #eff1f5;

  &:first-of-type {
    border-top: 1px solid #eff1f5;
  }

  &:hover {
    /* Gray/50 */
    background: #f9fafb;
  }
}

.icon-wrap {
  @apply flex justify-center items-center;
  @apply rounded-full;
  width: $icon-size;
  height: $icon-size;
  background: rgba(62, 162, 248, 1);

  &--small {
    width: $icon-wrap-size--sm;
    height: $icon-wrap-size--sm;
  }

  &--large {
    width: $icon-wrap-size--lg;
    height: $icon-wrap-size--lg;
  }
}

.icon {
  &--small {
    height: $icon-size--sm;
  }

  &--large {
    height: $icon-size--lg;
  }
}
