@import '../../styles/variables';

.container {
  @apply flex flex-col items-center no-scrollbar;
  width: $full-width;
  height: 100%;
  background-color: $white;
  overflow-y: auto;
  padding: 32px 32px;
}

.title {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $gray-900;
}

.desc {
  @apply text-left;
  width: 100%;
  font-size: 16px;
  margin-top: 8px;
}
