@import '../../../styles/variables';

.container {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: $warning-100;
  color: $gray-700;
  border: 1px solid $warning-500;
  border-radius: 16px;
}
