@import '../../../styles/variables';

.modal {
  width: $full-width;
  height: 100%;
  border-radius: 0;
  padding: 0;
}

.container {
  padding: 32px 32px 128px;
}

.title {
  font-size: 36px;
  font-weight: 700;
}

.warning-description {
  margin-bottom: 24px;
}

.warning-description__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.warning-description__desc {
  margin-top: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray-400;
}

.password-confirm {
  padding: 16px;
  border-top: 1px solid $gray-100;
  background: white;
}
