@import "../../../styles/variables";

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 28px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  box-shadow: $shadow-xs;
  border-radius: 16px;
  color: $primary-700;

  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  &--primary {
    background: $primary-500;
    border: 1px solid $primary-500;
    color: $white;
  }
}