@import "../../../styles/variables";

.link-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 24px;
  gap: 24px;
  
  width: 143px;
  height: 180px;
  
  border-radius: 16px;


  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  &--primary {
    background: $primary-50;
    color: black;
  }

  background-color: $gray-100;
  color: $gray-600;
}