@import '../../../styles/variables';

.link-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 24px;
  gap: 24px;

  width: 143px;
  height: 180px;

  border-radius: 16px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  background-color: $gray-50;
  color: $gray-600;
  &:hover {
    background-color: $gray-100;
  }
  &:active {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px $gray-400;
  }

  &--primary {
    background-color: $primary-50;
    color: black;

    &:hover {
      background-color: $primary-100;
    }

    &:active {
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05),
        0px 0px 0px 4px $primary-400;
    }
  }
}
