@import "../../styles/variables.scss";

.container {
  padding-top: 24px;
}

.section {
  padding: 0 24px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}