@import '../../styles/variables.scss';

.page {
  width: $full-width;
  height: 100%;
  background-color: $white;
}

.container {
  padding: 24px 0;
  font-family: Inter;
}

.section {
  padding: 0 24px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}

.hints {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  &--error {
    color: $error-500;
  }
}

.input-suffix {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-500;

  padding: 12px 16px;
}

.desc {
  color: $gray-400;
}

.token-list {
  width: 291px;
  height: 262px;
  overflow-y: scroll;
  margin-top: 23px;
  margin-left: 32px;
  border: 1px solid #eaecf0;
  border-radius: 20px;
}
