@import '../../styles/variables.scss';

.container {
  padding: 24px 0;
}

.section {
  padding: 0 24px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}

.hints {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  &--error {
    color: $error-500;
  }
}

.input-suffix {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-500;

  padding: 12px 16px;
}
