@import "../../styles/variables";

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.normal {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}

.small {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray-500;
}

.hints {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $gray-500;

  &--error {
    color: $error-500;
  }
}