@import '../../../styles/variables';

.container {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.header {
  margin-top: 67px;
  padding: 0 32px;

  &__title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    color: $gray-900;
  }

  &__desc {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: $gray-900;
  }
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-top: 1px solid $gray-100;
}

.tabs {
  padding: 0 32px;
  margin-top: 20px;
}

.tab {
  border-color: $gray-100;
}

.tab-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--col {
    flex-direction: column;
    align-items: flex-start;
  }

  & + & {
    margin-top: 8px;
  }

  &__key {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $gray-700;
  }

  &__value {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray-400;
  }
}

.dryrun-error {
  background-color: $error-50;
  color: $error-700;
  margin: 8px 32px 0;
  padding: 8px;
  text-align: center;
  border-radius: 16px;
  word-break: break-word;
}

.overview {
  padding: 16px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
