@import '../../../styles/colors.scss';

.transaction-num {
  display: flex;
  align-items: center;
  position: relative;
  width: 297px;
  height: 32px;
  background: $gray-100;
  border-radius: 16px;
  padding: 16px;
  margin-top: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #404968;

  &.warn {
    background: #fffaeb;
    color: #b54708;
    justify-content: flex-end;
  }
}

.warn-btn {
  @apply flex items-center justify-center absolute;
  left: 4px;
  top: 4px;
  width: 55px;
  height: 24px;
  background: #dc6803;
  border-radius: 16px;
}

.view-btn {
  @apply flex items-center justify-center absolute  cursor-pointer;
  width: 66px;
  height: 24px;
  right: 4px;
  top: 4px;
  background: #404968;
  border-radius: 16px;
  color: #fff;
}

.view-icon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}
