@import '../../styles/variables';

.biometric-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  border-radius: 16px;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
  height: 48px;
  color: $green-600;
  background: $green-50;

  transition: background 200ms, color 200ms;

  &:hover {
    background: $green-100;
  }

  &:active {
    background: $green-100;
  }
}
