@import '../../../styles/variables';

.reset-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: $gray-900;
}

.reset-desc {
  font-family: 'Inter';
  color: $gray-400;
}
