@import "../../../styles/variables";

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.balance {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: $gray-900;
  margin-top: 28px;
}

.address {
  @apply flex justify-center items-center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $gray-400;
  margin-top: 7px;
  margin-bottom: 19px;
  text-align: center;
}

.operations {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  width: 280px;
  margin: auto;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 14px;
    gap: 8px;
    height: 36px;

    color: $gray-700;
    font-weight: 500;
    
    background: $gray-100;
    border: 1px solid #EFF1F5;
    border-radius: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

    &:hover {
      background: $gray-200;
      /* Gray/300 */
    }
    &:active {
  

      background: $gray-200;

      box-shadow: 0px 1px 1px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px $gray-50;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.qr-code {
  width: 124px;
  height: 124px;
  padding: 4px;
}

.text-scan {
  color: rgba(0, 0, 0, 0.3);
}