@import "../../../styles/variables";

.main-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.balance {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: $gray-900;
  margin-top: 28px;
}

.address {
  @apply flex justify-center items-center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $gray-400;
  margin-top: 7px;
  margin-bottom: 19px;
  text-align: center;
}

.operations {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;

  div {
    width: 110px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #344054;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background: #F9FAFB;
      /* Gray/300 */

      border: 1px solid #D0D5DD;
    }
    &:active {
      /* Base/White */

      background: #FFFFFF;
      /* Gray/300 */

      border: 1px solid #D0D5DD;
      /* Shadow/xs focused 4px grey-100 */

      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.qr-code {
  width: 124px;
  height: 124px;
  padding: 4px;
}

.text-scan {
  color: rgba(0, 0, 0, 0.3);
}