@import '../../styles/variables';

$ani-duration: 0.2s;

@keyframes move-in {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes move-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80vh);
  }
}

.drawer {
  animation: move-in $ani-duration ease-in;
  animation-fill-mode: forwards;

  &--move-in {
    animation: move-in $ani-duration ease-in;
    animation-fill-mode: forwards;
  }
  &--move-out {
    animation: move-out $ani-duration ease-in;
    animation-fill-mode: forwards;
  }
}
