@import '../../../styles/variables';

.container {
  @apply flex flex-col items-center;
  box-sizing: border-box;
  width: 298px;
  height: 573px;
  margin-left: auto;
  margin-right: auto;
}

.container .step-title {
  text-align: center;
  text-align: left;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: $gray-900;
}

.container .phrase-textarea {
  height: 192px;
}
