@import '../../styles/variables';
@import '../../styles/mixins';

.container {
  padding: 37px 0;
}
.header {
  padding: 0 24px;
}
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.tabs {
  margin: 26px 0;
}

.section {
  padding: 26px 24px;

  & + & {
    margin-top: 10px;
  }
}

.slide-window {
  display: flex;
  overflow-x: auto;
  width: $full-width;
}

.dapp-cards {
  box-sizing: content-box;
  display: flex;
  padding: 0 24px;
}

.dapp-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;

  flex-grow: 0;
  flex-shrink: 0;
  width: 172px;
  height: 182px;

  box-shadow: 8px 8px 24px rgba(2, 69, 245, 0.1);
  border-radius: 16px;
  cursor: pointer;

  & + & {
    margin-left: 8px;
  }

  &-icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  &-name {
    @include ellipsis();
    margin-top: 16px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }

  &-desc {
    @include multiline-ellipsis(2);
    margin-top: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    opacity: 0.7;
    word-break: break-all;
  }
}

.dapp-card-skeleton {
  width: 172px;
  height: 182px;
  border-radius: 16px;
}

.dapp-section {
  &-title {
    padding: 0 24px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
  }
}

.dapp-section + .dapp-section {
  margin-top: 24px;
}

.dapp-media-item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  cursor: pointer;

  &:hover {
    background: $gray-100;
  }

  &__img-wrap {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
  &__img {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }

  &__name {
    @include ellipsis();
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $gray-900;
  }
  &__desc {
    @include multiline-ellipsis(2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $gray-400;
  }
}
