@import '../../../styles/variables.scss';

.balance {
  &-container {
    @apply flex items-center;
    height: 304px;
  }

  &-name,
  &-amount-box {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #dcdfea;

    .fit & {
      color: #404968;
    }

    .excess & {
      color: $error-600;
    }
  }

  &-name {
    margin-left: 8px;
  }

  &-amount {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    outline: none;
    resize: none;

    &-box {
      position: relative;
      margin-left: 36px;
    }

    &-placeholder {
      width: 22px;
      max-width: 154px;
      word-wrap: break-word;
    }
  }

  &-max-btn {
    @apply flex items-center justify-center absolute cursor-pointer;
    right: 30px;
    width: 66px;
    height: 40px;
    background: $gray-100;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 100px;
    color: #404968;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.send-confirm {
  &-list {
    margin: 0 32px;
    border-top: solid 1px $gray-200;
  }

  &-name {
    color: $gray-900;
  }

  &-value {
    color: #5d6b98;

    &.error {
      color: $error-600;
    }
  }
}
