@import '../../styles/variables.scss';

.token-item {
  @apply box-border flex items-center;
  padding: 26px 24px;
  margin: 12px 12px;

  background: $gray-50;
  border-radius: 16px;
  transition: 0.2s;
  &:hover {
    /* Gray/50 */
    background: $gray-100;
  }

  &.clickable {
    cursor: pointer;
  }

  &.selected {
    background: $gray-200;
  }
  &-sui {
    background: $primary-25;

    &:hover {
      /* Gray/50 */
      background: $primary-50;
    }

    &.selected {
      background: $primary-100;
    }
  }
}

.token-name {
  font-family: 'Inter';
  color: $gray-900;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.token-amount {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #404968;
}
