@import '../../../styles/variables';

.menu {
  @apply flex justify-between items-center;
  box-sizing: border-box;
  height: $menu-height;
  padding: 8px 16px;
  border-top: 1px solid #dcdfea;
}

.menu-item {
  @apply flex justify-center items-center;
  padding: 16px 40px;
  cursor: pointer;

  &--active {
    background: $gray-100;
    border-radius: 16px;

    & > .menu-icon {
      stroke: $gray-900;
    }
  }
}

.menu-icon {
  stroke: $gray-300;
}
