$gray-100: #EFF1F5;
$gray-200: #EAECF0;
$gray-300: #B9C0D4;
$gray-400: #7D89B0;
$gray-500: #667085;
$gray-700: #344054;
$gray-900: #111322;

$primary-500: rgba(62, 162, 248, 1);

$error-300: #FDA29B;
$error-500: #F04438;

$white: #ffffff;