@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.nft-item {
  @apply flex
    flex-col
    items-center
    max-w-[153px]
    border
    rounded-xl
    transition
    hover:bg-gray-100;
  border-color: $gray-200;
  padding: 6px;
  cursor: pointer;
}

.nft-img-wrap {
  width: 140px;
  height: 140px;
  background: $gray-200;
}
.nft-img {
  object-fit: cover;
  border-radius: 8px;
}

$max-text-len: 120px;
.nft-meta {
  @apply flex flex-col;
}

.nft-name {
  font-family: Inter;
  width: $max-text-len;
  @include ellipsis();
  color: $gray-900;
  font-size: 14px;
}
.nft-description {
  width: $max-text-len;
  @include ellipsis();
}
