@import '../../styles/variables';

.container {
  @apply flex flex-col items-center;
  padding: 32px 32px 0;

  .step-title {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: $gray-900;
  }

  .step-desc {
    @apply text-base text-left;
    width: 100%;
    margin-top: 8px;
  }
}

.logo {
  width: 48px;
  height: 48px;
}

.control-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-400;
}
