@import "../../styles/variables";

.main-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.main-page .suiet-title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}

.main-page .suiet-desc {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  color: $gray-300;
}
