@import '../../styles/variables';

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: $full-width;
  height: 100%;
  max-height: 700px;
  background-color: $white;
  box-shadow: 0px 20px 24px -4px rgba(58, 76, 112, 0.04),
    0px 8px 8px -4px rgba(58, 76, 112, 0.03);
  overflow: hidden;
  border-radius: 24px;
}

@media screen and (max-width: $full-width * 1.2) {
  .main-page {
    border-radius: 0;
  }
}

.logo {
  width: 48px;
  height: 48px;
  margin-top: 32px;
  margin-left: 32px;
}

.main-page .suiet-title {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: $gray-200;

  &--black {
    color: $gray-900;
  }
}

.main-page .suiet-desc {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin-top: 4px;
  color: $gray-300;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  margin: 0 32px;
}
