@import '../../styles/variables';

.container {
  @apply flex flex-col;
  padding: 50px 32px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin-top: 37px;
}

.desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: $gray-400;
  margin-top: 8px;
}
