@import '../../styles/variables';

.transaction-item {
  &-container {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #eaecf0;
    font-family: Inter;
    &:last-of-type {
      border: 0;
    }

    &:hover {
      /* Gray/50 */
      background: #f9fafb;
    }
    cursor: pointer;
  }

  &-icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &.failure {
      background-image: url('./assets/fail.svg') !important;
    }

    &.received {
      background-image: url('./assets/receive.svg');
    }

    &.sent {
      background-image: url('./assets/send.svg');
    }

    &.airdrop {
      background-image: url('./assets/airdrop.svg');
    }

    &.fail {
      background-image: url('./assets/fail.svg');
    }

    &::after {
      display: block;
      content: '';
      background: url('./assets/sui.svg') no-repeat center;
      background-size: cover;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 14px;
      top: 14px;
    }
  }

  &-detail {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }

  &-type {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-right: 5px;
    margin-bottom: 2px;
  }

  &-amount {
    right: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3fb534;
    text-align: right;
    min-width: 85px;

    &.sent {
      color: #ff9823;
    }

    &.sent.failure {
      color: $gray-300;
    }

    &.failure {
      color: $gray-300;
    }
  }

  &-desc {
    display: flex;
    color: $gray-400;
  }
}
