@import '../../styles/variables';

.transaction-detail-container {
  width: $full-width;
  height: 100%;
  overflow-y: auto;
  background-color: $white;
  padding: 0 24px;
  position: relative;
}

.transaction-detail {
  &-header {
    height: 56px;
    width: 100%;
    position: relative;

    &-title {
      width: 100%;
      line-height: 56px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      font-family: 'Inter';
      color: $gray-700;
    }
  }

  &-general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 24px;
    border-bottom: 1px solid #eaecf0;
  }

  &-back {
    position: absolute;
    top: 12px;
    width: 32px;
    height: 32px;
    background: url('./assets/back.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
  }

  &-icon {
    width: 48px;
    height: 48px;
    background: url('./assets/send.svg') no-repeat center;
    background-size: contain;

    &.sent {
      background-image: url('./assets/sent_detail.svg');

      &.failure {
        background-image: url('./assets/sent_fail.svg');
      }
    }

    &.received {
      background-image: url('./assets/receive_detail.svg');

      &.failure {
        background-image: url('./assets/receive_fail.svg');
      }
    }

    &.default {
      background-image: url('./assets/receive.svg');
    }

    &.airdrop {
      background-image: url('./assets/airdrop_detail.svg');

      &.failure {
        background-image: url('./assets/airdrop_fail.svg');
      }
    }
  }

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #101828;
    margin-top: 16px;
  }

  &-amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $gray-400;
    margin-top: 8px;

    &.failure {
      color: #f04438;
    }
  }

  &-item-container {
    padding: 24px 0;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray-400;
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &-key {
      color: $gray-700;
      font-weight: 500;
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 314px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
  }
}
