@import "../../styles/variables.scss";

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  gap: 8px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background: #FFFFFF;
  border: 1px solid $gray-300;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: $gray-900;

  &::placeholder {
    color: $gray-500;
  }

  &:focus {
    outline: none;
  }

  &-state {
    position: relative;
    padding-right: 38px;

    &--success {
    }

    &--error {
      border: 1px solid $error-300;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      //color: $error-300;

      &::placeholder {
        //color: $error-300;
      }
    }
  }

  &--no-border {
    border: none !important;
    box-shadow: none !important;;
  }
}

.icon {
  position: absolute;
  right: 13.3px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #FFFFFF;
  border: 1px solid $gray-300;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  &-state {
    &--error {
      border: 1px solid $error-300;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
  }
}

.input-suffix {
  border-left: 1px solid $gray-300;

  &-state {
    &--error {
      border-color: $error-300;
    }
  }
}