$size-small: 24px;
$size-normal: 32px;
$size-large: 64px;

.avatar.wrap {
  width: $size-normal;
  height: $size-normal;
  border-radius: 999px;
}
.avatar.pfp-img {
  width: 100%;
  height: 100%;
  border-radius: 999px;
}
.avatar.size--sm {
  width: $size-small;
  height: $size-small;
}
.avatar.size--lg {
  width: $size-large;
  height: $size-large;
}

.avatar.model--1 {
  background: linear-gradient(135deg, #10c0f7 0%, #c0c7ff 100%);
}
.avatar.model--2 {
  background: linear-gradient(135deg, #19ce8d 0%, #c1d6ff 100%);
}
.avatar.model--3 {
  background: linear-gradient(135deg, #76f710 0%, #ffd3c0 100%);
}
.avatar.model--4 {
  background: linear-gradient(135deg, #3078e3 0%, #fac3f7 100%);
}

.avatar.with-favicon {
  display: flex;
  align-items: center;

  &__favicon {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    object-fit: cover;

    > img {
      width: 64px;
      border-radius: 32px;
    }
  }

  &__avatar {
    width: 62px;
    height: 62px;
    border: 2px solid #ffffff;
  }

  &__avatar--float {
    position: relative;
    left: -18px;
    z-index: 1;
  }
}
