$size-small: 24px;
$size-normal: 32px;
$size-large: 56px;

.avatar {
  width: $size-normal;
  height: $size-normal;
  border-radius: 999px;

  &-size--sm {
    width: $size-small;
    height: $size-small;
  }

  &-size--lg {
    width: $size-large;
    height: $size-large;
  }

  &-model--1 {
    background: linear-gradient(135deg, #10c0f7 0%, #c0c7ff 100%);
  }
  &-model--2 {
    background: linear-gradient(135deg, #19ce8d 0%, #c1d6ff 100%);
  }
  &-model--3 {
    background: linear-gradient(135deg, #76f710 0%, #ffd3c0 100%);
  }
  &-model--4 {
    background: linear-gradient(135deg, #3078e3 0%, #fac3f7 100%);
  }
}

.with-favicon {
  display: flex;
  align-items: center;

  &__favicon {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    object-fit: cover;

    > img {
      width: 64px;
      border-radius: 32px;
    }
  }

  &__avatar {
    position: relative;
    left: -18px;
    z-index: 1;
    width: 62px;
    height: 62px;
    border: 2px solid #ffffff;
  }
}
