@import "../../styles/variables";

.main-page {
  @apply flex flex-col items-center;
  box-sizing: border-box;
  width: 362px;
  height: 573px;
  background: radial-gradient(100% 100% at 6.22% 0%, rgba(0, 137, 255, 0.27) 0%, rgba(93, 200, 223, 0) 100%);
}

.main-page .suiet-title {
  text-align: center;
  padding-top: 160px;
  font-weight: 300;
  font-size: 56px;
  line-height: 68px;
  color: $primary-900;
}

.main-page .suiet-desc {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $primary-900;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 266px;
  height: 60px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  box-shadow: $shadow-xs;
  border-radius: 16px;
  color: $primary-700;

  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  &--primary {
    background: $primary-500;
    border: 1px solid $primary-500;
    color: $white;
  }
}