@import "../../styles/variables";

.container {
  @apply flex flex-col items-center;
  box-sizing: border-box;
  width: 362px;
  height: 573px;
}

.container .step-title {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: $gray-900;
}

.container .step-button {
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
}

.container .pwd {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $gray-700;
}